/* Loading Bar*/

.loader { 
    margin: 0 auto;
    border-radius: 0.3rem;
    border: 0.4rem solid transparent;
    position: relative;
    padding: 0.1rem;
  }
  .loader:before {
    content:'';
    border: 0.1rem solid $dark-color; 
    border-radius: 1rem;
    position:absolute;
    top:-0.2rem; 
    right:-0.2rem; 
    bottom:-0.2rem; 
    left:-0.2rem;
  }
  .loader .loaderBar { 
    position: absolute;
    border-radius: 1rem;
    top:0;
    right:100%;
    bottom:0;
    left:0;
    background: $dark-color; 
    width:0;
    animation:borealisBar 1.8s linear infinite;
  }
  
  @keyframes borealisBar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }

/* Loading truck*/

.black-opacity {
  width: 80%;
  height: 102%;
  background-color: black;opacity: 0.7;
  position: absolute;
  z-index: 1000;
}

.loading-truck {
  width: 79.1%;
  height: 100%;
  position: absolute;
  z-index: 1001;
}

.orange-truck{
  position: relative;
  color: $primary-color !important;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.4rem;
  width: 12rem;
  height: 7rem;
  margin: auto;
}

.orange-truck i {
  position: absolute;
  left: 30%;
  font-size: 4rem;
}

.orange-truck p {
  text-align: center;
  padding-top: 4.1rem;
}

.truck-o {
  top: 70%;
}

.truck-o:before {
  border: 0.1rem solid $primary-color !important; 
}

.truck-o .truckBar-o {
  background: $primary-color !important; 
}