/* Loading Bar*/

.loader { 
    margin: 0 auto;
    border-radius: 0.3rem;
    border: 0.4rem solid transparent;
    position: relative;
    padding: 0.1rem;
  }
  .loader:before {
    content:'';
    border: 0.1rem solid $dark-color; 
    border-radius: 1rem;
    position:absolute;
    top:-0.2rem; 
    right:-0.2rem; 
    bottom:-0.2rem; 
    left:-0.2rem;
  }
  .loader .loaderBar { 
    position: absolute;
    border-radius: 1rem;
    top:0;
    right:100%;
    bottom:0;
    left:0;
    background: $dark-color; 
    width:0;
    animation:borealisBar 1.8s linear infinite;
  }
  
  @keyframes borealisBar {
    0% {
      left:0%;
      right:100%;
      width:0%;
    }
    10% {
      left:0%;
      right:75%;
      width:25%;
    }
    90% {
      right:0%;
      left:75%;
      width:25%;
    }
    100% {
      left:100%;
      right:0%;
      width:0%;
    }
  }