/* Menu */

.card-menu {
    background: #fff;
    width: 17rem;
    margin: 0.4rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .card-menu p {
    background: black;
    color: white;
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 0.5rem;
  }
  
  .scenarios {
    overflow: auto;
  }
  
  /* Scenario Card */
  
  .scenario-card {
    background: white;
    padding: 0.6rem;
    margin: 0.6rem;
    border: 0.1rem solid grey;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
  }
  
  .scenario-card i {
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    left: -0.4rem;
  }
  
  .current {
    border: 0.1rem solid $primary-color !important;
  }
  
  .menu-btn {
    margin: 0.5rem;
    background: $primary-color;
    padding: 0.5rem;
    border: 0;
    color: white;
    border-radius: 0.3rem;
    font-size: 1.2rem;
  }
  
  .menu-btn:hover {
    opacity: 0.83;
  }