@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jomhuria&display=swap);

$primary-color: #ef6d34;
$secondary-color: #007bff;
$harmony-one: #a0a0a0;
$harmony-two: #636363;
$dark-color: #272727;
$light-color: #e0e3f0;
$danger-color: #d22e2e;
$success-color: #2ed270;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

.App {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $dark-color;
  background: $light-color;
  display: flex !important;
}

.h-100p {
  height: 100vh;
}

.w-100p {
  width: 100%;
}

.wh-100p {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 4.7rem;
}

.container-2 {
  display: flex;
  flex-direction: column;
}

/* Buttons */

.btn-logo {
  width: 4rem !important;
}

.bg-orange {
  background: $primary-color !important;
}

.bg-blue {
  background: $secondary-color !important;
}

.bg-green {
  background: $success-color !important;
}

.action-btn button {
  background: black;
  padding: 0.5rem;
  margin-left: 0.8rem;
  border: 0;
  color: white;
  border-radius: 0.3rem;
}

.action-btn button:hover {
  opacity: 0.83;
}

.card-holder {
  background: #fff;
  width: 98.5%;
  margin: 0.4rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  overflow: auto;
  padding: 0.5rem;
}

